body{
    margin: 0;
    font-family: 'Calibri';
    font-weight: lighter;
    /*font-style:italic;*/
}

body .label {
    position: relative;
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
}

.ribbon {
    position:absolute;
}

body .ribbon-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 0 0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

body .ribbon-right:before,
body .ribbon-right:after {
    content: " ";
    display: table;
}

body .ribbon-right:after {
    clear: both;
}


body .ribbon-right-top {
    float: left;
    position:absolute; 
    top:0; 
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

body .ribbon-right-middle {
    /*If js won't work*/
    /*border: 1px solid red;*/
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

body .ribbon-right-bottom {
    text-align: center;
    float: right;
    -webkit-transform: rotate(-90deg) translateY(-100%);
    -moz-transform: rotate(-90deg) translateY(-100%);
    -o-transform: rotate(-90deg) translateY(-100%);
    -ms-transform: rotate(-90deg) translateY(-100%);
    transform: rotate(-90deg) translateY(-100%);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

body .ribbon-right-bottom * {/* * pomeni all element inside, >* pa pomeni all first child*/
    padding: 2px;
}

body .ribbon-left {
    position: absolute;
    top: 0;
    left: 0;
    /*font-size: 8px;*/
    padding: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*odmik od spodnjega roba*/
body .ribbon-left > *{
    padding: 5px;
}

.cs1{
    /*height: 1476px;*/
    width: 1772px;
    font-size: 28px;
}

.cs2{
    width: 1181px;
}

.cs3{
    width: 1134px;
    font-size: 8px;
}

.qr1{
    width: 200px;
}

.br1{
    width: 240px;
}

.qr3{
    width: 100px;
}

.br3{
    width: 200px;
}