body{
    overflow: hidden;
    background-color: transparent;
}

/*
#ZoomSlider{
    position: absolute;
    top: 30%;
    left: 10px;
}

#ZoomSlider .inner{
    position: relative;
    height: 100%;
}

#ZoomSlider .glyphicon{
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    font-size: 14px;
    left: -2px;
}
#ZoomSlider .glyphicon-zoom-in{ }
#ZoomSlider .glyphicon-zoom-out{
    top: 85%;
}
span.ZoomSliderInner{ }
*/
