@{
    //Layout = null;/*izklopim template*/
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Alp stories";
}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="../content/img/logo.png" alt="#" /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#facialCare">Facial care</a></li>
                <li><a href="#bodyCare">Body care</a></li>
                <li><a href="#hairCare">Hair care</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div id="facialCare" class="category col-md-12">
            <h3>Facial Care</h3>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/fc1.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/fc2.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/fc3.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="bodyCare" class="category col-md-12">
            <h3>Body Care</h3>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/bc1.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/bc2.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/bc2.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="hairCare" class="category col-md-12">
            <h3>Hair Care</h3>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/hc1.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/hc2.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
            <div class="product col-md-4">
                <div class="image">
                    <img src="../content/img/hc2.jpg" class="" alt="" />
                </div>
                <div class="product-name">Lorem ipsum dolor.</div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product-price">12.80 eur</div>
            </div>
        </div>
    </div>
</div>