<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/CntHome/css")
    <title>@ViewBag.Title</title>
</head>
<body class="static-page">
    @RenderBody()
    @Scripts.Render("~/CntHome/script")
</body>
</html>
